body {
	background:linear-gradient(10deg,#30FF30,#00DBDB);
}
#jpg {
	left:0%;
  width: 800vw;
  height:800vh;
  position: fixed;
  background-repeat:no-repeat;
  background-size:45vw 45vw;
  background-image:url("my_wife.jpg");
  
}
.word1 {
  left:50%;
  top: 30vh;
  font-family:consolas;
  font-size:2vw;
  font-weight:bold;
  color:gray;
  position:absolute;
  }
.word2{
  left:55vw;
  top:5vh;
  font-family:consolas;
  font-size:3vw;
  font-weight:bold;
  color:black;
  position:absolute;
  }
  .word3{
  left:55vw;
  top:45vh;
  font-family:consolas;
  font-size:2vw;
  font-weight:bold;
  color:#8A5A00;
  position:absolute;
  }
.mark{
  left:55vw;
  top:75vh;
  font-family:consolas;
  font-size:150%;

  position:fixed;
  }
