#jpg {
  position: fixed;
  background-repeat:no-repeat;
  background-image:url("my_wife.jpg);
  background-position:fixed;
}
.word1 {
  right:15vw;
  top: 5vh;
  font-family:consolas;
  font-size:300%;
  font-weight:bold;
  color:blue;
  position:fixed;
  }
.word2{
  left:15vw;
  top:5vh;
  font-familt:consolas;
  font-size:150%;
  font-weight:bold;
  color;red;
  position:fixed;
  }

