body {
	background:linear-gradient(10deg,#30FF30,#00DBDB);
}
#jpg {
  width: 800vw;
  height:800vh;
  position: fixed;
  background-repeat:no-repeat;
  background-size:800px 800px;
  background-image:url("my_wife.jpg");
  
}
.word1 {
  left:65vw;
  top: 30vh;
  font-family:consolas;
  font-size:170%;
  font-weight:bold;
  color:gray;
  position:fixed;
  }
.word2{
  left:55vw;
  top:5vh;
  font-family:consolas;
  font-size:250%;
  font-weight:bold;
  color:black;
  position:fixed;
  }
  .word3{
  left:55vw;
  top:45vh;
  font-family:consolas;
  font-size:150%;
  font-weight:bold;
  color:#8A5A00;
  position:fixed;
  }
.mark{
  left:55vw;
  top:75vh;
  font-family:consolas;
  font-size:150%;
  font-weight:bold;
  position:fixed;
  }
